<div class="todo-item d-flex align-items-center justify-content-between" [ngClass]="{'completed': todo.completed}">
    <span>{{ todo.title }}</span>
    <p class="todo-item-details">{{ todo.details }}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="todo.completed" [ngModelOptions]="{standalone: true}" (change)="updateTodoStatus(todo)" />
        <label class="form-check-label" for="todoCheckbox">Completed</label>
    </div>
    <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
</div>
